:root{
--grid-widget-title-font-color:var(--widget-primary-font-color);
--grid-widget-title-fontsize:var(--widget-fontsize);
--grid-widget-title-fontweight:var(--widget-fontweight);
--grid-widget-title-fontfamily:var(--widget-fontfamily);
--grid-widget-title-fontsrc:var(--widget-fontsrc);
--grid-widget-subtitle-font-color:var(--widget-primary-font-color);
--grid-widget-subtitle-fontsize:var(--widget-fontsize);
--grid-widget-subtitle-fontweight:var(--widget-fontweight);
--grid-widget-subtitle-fontfamily:var(--widget-fontfamily);
--grid-widget-subtitle-fontsrc:var(--widget-fontsrc);
--grid-widget-content-background: var(--widget-primary-background);
--grid-widget-content-font-fontcolor: var(--widget-primary-font-color);
--grid-widget-content-font-fontsize: var(--widget-fontsize);
--grid-widget-content-font-fontweight:var(--widget-fontweight);
--grid-widget-content-font-fontfamily:var(--widget-fontfamily);
--grid-widget-content-font-fontsrc:var(--widget-fontsrc);
--grid-widget-content-hover-background:var(--widget-primary-background);
--grid-widget-content-hover-font-fontsize:var(--widget-fontsize);
--grid-widget-content-hover-font-fontweight:var(--widget-fontweight);
--grid-widget-content-hover-font-fontfamily:var(--widget-fontfamily);
--grid-widget-content-hover-font-fontsrc:var(--widget-fontsrc);
--grid-widget-content-selection-background:var(--widget-selection-background-color);
--grid-widget-content-selection-font-color:var(--widget-primary-font-color);
--grid-widget-content-selection-font-fontsize:var(--widget-fontsize);
--grid-widget-content-selection-font-fontweight:var(--widget-fontweight);
--grid-widget-content-selection-font-fontfamily:var(--widget-fontfamily);
--grid-widget-content-selection-font-fontsrc:var(--widget-fontsrc);
--grid-widget-filterbar-background:var(--widget-primary-background);
--grid-widget-filterbar-border:var(--primary-border-color);
--grid-widget-filterbar-font-color:var(--widget-primary-font-color);
--grid-widget-filterbar-font-fontsize:var(--widget-fontsize);
--grid-widget-filterbar-font-fontweight:var(--widget-fontweight);
--grid-widget-filterbar-font-fontfamily:var(--widget-fontfamily);
--grid-widget-filterbar-font-fontsrc:var(--widget-fontsrc);
--grid-widget-header-background:#F3F7FA;
--grid-widget-header-font-color:#2D3748;
--grid-widget-header-font-fontsize:var(--widget-fontsize);
--grid-widget-header-font-fontweight:var(--widget-fontweight);
--grid-widget-header-font-fontfamily:var(--widget-fontfamily);
--grid-widget-header-font-fontsrc:var(--widget-fontsrc);
}