:root{
 --pop-widget-title-font-color:var(--widget-primary-font-color);
 --pop-widget-title-fontsize:var(--widget-fontsize);
 --pop-widget-title-fontweight:var(--widget-fontweight);
 --pop-widget-title-fontfamily:var(--widget-fontfamily);
 --pop-widget-title-fontsrc:var(--widget-fontsrc);
 --pop-widget-subtitle-font-color:var(--widget-primary-font-color);
 --pop-widget-subtitle-fontsize:var(--widget-fontsize);
 --pop-widget-subtitle-fontweight:var(--widget-fontweight);
 --pop-widget-subtitle-fontfamily:var(--widget-fontfamily);
 --pop-widget-subtitle-fontsrc:var(--widget-fontsrc);
 --pop-widgetcontainer-daterangelabel-font-color:var(--widget-label-secondary-font-color);
 --pop-widgetcontainer-daterangelabel-fontsize:var(--widget-fontsize);
 --pop-widgetcontainer-daterangelabel-fontweight:var(--widget-fontweight);
 --pop-widgetcontainer-daterangelabel-fontfamily:var(--widget-fontfamily);
 --pop-widgetcontainer-daterangelabel-fontsrc:var(--widget-fontsrc);
 --pop-widgetcontainer-comparerangelabel-font-color:var(--widget-label-secondary-font-color);
 --pop-widgetcontainer-comparerangelabel-fontsize:var(--widget-fontsize);
 --pop-widgetcontainer-comparerangelabel-fontweight:var(--widget-fontweight);
 --pop-widgetcontainer-comparerangelabel-fontfamily:var(--widget-fontfamily);
 --pop-widgetcontainer-comparerangelabel-fontsrc:var(--widget-fontsrc);
 --pop-widgetcontainer-vslabel-font-color:var(--widget-label-secondary-font-color);
 --pop-widgetcontainer-vslabel-fontsize:var(--widget-fontsize);
 --pop-widgetcontainer-vslabel-fontweight:var(--widget-fontweight);
 --pop-widgetcontainer-vslabel-fontfamily:var(--widget-fontfamily);
 --pop-widgetcontainer-vslabel-fontsrc:var(--widget-fontsrc);
 --pop-widget-dialog-header-Background:var(--widget-primary-background);
 --pop-widget-dialog-daterange-relativeheader-background:#CCFAFF;
 --pop-widget-dialog-daterange-relativeheader-label-font-color:var(--widget-secondary-font-color);
 --pop-widget-dialog-daterange-relativeheader-label-fontsize:var(--widget-fontsize);
 --pop-widget-dialog-daterange-relativeheader-label-fontweight:var(--widget-fontweight);
 --pop-widget-dialog-daterange-relativeheader-label-fontfamily:var(--widget-fontfamily);
 --pop-widget-dialog-daterange-relativeheader-label-fontsrc:var(--widget-fontsrc);
 --pop-widget-dialog-daterange-relativelabel-font-color:var(--secondary-text-normal-color);
 --pop-widget-dialog-daterange-relativelabel-fontsize:var(--widget-fontsize);
 --pop-widget-dialog-daterange-relativelabel-fontweight:var(--widget-fontweight);
 --pop-widget-dialog-daterange-relativelabel-fontfamily:var(--widget-fontfamily);
 --pop-widget-dialog-daterange-relativelabel-fontsrc:var(--widget-fontsrc);
 --pop-widget-dialog-daterange-relativecombobox-background:var(--widget-primary-background);
 --pop-widget-dialog-daterange-relativecombobox-textbox-font-color:var(--widget-secondary-font-color);
 --pop-widget-dialog-daterange-relativecombobox-textbox-fontsize:var(--widget-fontsize);
 --pop-widget-dialog-daterange-relativecombobox-textbox-fontweight:var(--widget-fontweight);
 --pop-widget-dialog-daterange-relativecombobox-textbox-fontfamily:var(--widget-fontfamily);
 --pop-widget-dialog-daterange-relativecombobox-textbox-fontsrc:var(--widget-fontsrc);
 --pop-widget-dialog-daterange-relativecombobox-popup-background:var(--widget-primary-background);
 --pop-widget-dialog-daterange-relativecombobox-popup-font-color:var(--widget-secondary-font-color);
 --pop-widget-dialog-daterange-relativecombobox-popup-fontsize:var(--widget-fontsize);
 --pop-widget-dialog-daterange-relativecombobox-popup-fontweight:var(--widget-fontweight);
 --pop-widget-dialog-daterange-relativecombobox-popup-fontfamily:var(--widget-fontfamily);
 --pop-widget-dialog-daterange-relativecombobox-popup-fontsrc:var(--widget-fontsrc);
 --pop-widget-daterange-calender-highlight-color:#CCFAFF;
 --pop-widget-daterange-calender-selection-color:#2D99FF;
 --pop-widget-daterange-calender-weekheader-font-color:var(--secondary-text-normal-color);
 --pop-widget-daterange-calender-weekheader-fontsize:var(--widget-fontsize);
 --pop-widget-daterange-calender-weekheader-fontweight:var(--widget-fontweight);
 --pop-widget-daterange-calender-weekheader-fontfamily:var(--widget-fontfamily);
 --pop-widget-daterange-calender-weekheader-fontsrc:var(--widget-fontsrc);
 --pop-widget-daterange-calender-content-hover-color:var(--widget-icon-hover-background);
 --pop-widget-daterange-calender-content-datatext-font-color:var(--widget-secondary-font-color);
 --pop-widget-daterange-calender-content-datatext-fontsize:var(--widget-fontsize);
 --pop-widget-daterange-calender-content-datatext-fontweight:var(--widget-fontweight);
 --pop-widget-daterange-calender-content-datatext-fontfamily:var(--widget-fontfamily);
 --pop-widget-daterange-calender-content-datatext-fontsrc:var(--widget-fontsrc);
 --pop-widget-dialog-comparerange-relativeheader-background:#C0F2DC;
 --pop-widget-dialog-comparerange-relativeheader-label-font-color:var(--widget-secondary-font-color);
 --pop-widget-dialog-comparerange-relativeheader-label-fontsize:var(--widget-fontsize);
 --pop-widget-dialog-comparerange-relativeheader-label-fontweight:var(--widget-fontweight);
 --pop-widget-dialog-comparerange-relativeheader-label-fontfamily:var(--widget-fontfamily);
 --pop-widget-dialog-comparerange-relativeheader-label-fontsrc:var(--widget-fontsrc);
 --pop-widget-dialog-comparerange-relativelabel-font-color:var(--secondary-text-normal-color);
 --pop-widget-dialog-comparerange-relativelabel-fontsize:var(--widget-fontsize);
 --pop-widget-dialog-comparerange-relativelabel-fontweight:var(--widget-fontweight);
 --pop-widget-dialog-comparerange-relativelabel-fontfamily:var(--widget-fontfamily);
 --pop-widget-dialog-comparerange-relativelabel-fontsrc:var(--widget-fontsrc);
  --pop-widget-dialog-comparerange-relativecombobox-background:var(--widget-primary-background);
 --pop-widget-dialog-comparerange-relativecombobox-textbox-font-color:var(--widget-secondary-font-color);
 --pop-widget-dialog-comparerange-relativecombobox-textbox-fontsize:var(--widget-fontsize);
 --pop-widget-dialog-comparerange-relativecombobox-textbox-fontweight:var(--widget-fontweight);
 --pop-widget-dialog-comparerange-relativecombobox-textbox-fontfamily:var(--widget-fontfamily);
 --pop-widget-dialog-comparerange-relativecombobox-textbox-fontsrc:var(--widget-fontsrc);
 --pop-widget-dialog-comparerange-relativecombobox-popup-background:var(--widget-primary-background);
 --pop-widget-dialog-comparerange-relativecombobox-popup-font-color:var(--widget-secondary-font-color);
 --pop-widget-dialog-comparerange-relativecombobox-popup-fontsize:var(--widget-fontsize);
 --pop-widget-dialog-comparerange-relativecombobox-popup-fontweight:var(--widget-fontweight);
 --pop-widget-dialog-comparerange-relativecombobox-popup-fontfamily:var(--widget-fontfamily);
 --pop-widget-dialog-comparerange-relativecombobox-popup-fontsrc:var(--widget-fontsrc);
 --pop-widget-comparerange-calender-highlight-color:#c0f2dc;
 --pop-widget-comparerange-calender-selection-color:#2cd9c5;
 --pop-widget-comparerange-calender-weekheader-font-color:var(--secondary-text-normal-color);
 --pop-widget-comparerange-calender-weekheader-fontsize:var(--widget-fontsize);
 --pop-widget-comparerange-calender-weekheader-fontweight:var(--widget-fontweight);
 --pop-widget-comparerange-calender-weekheader-fontfamily:var(--widget-fontfamily);
 --pop-widget-comparerange-calender-weekheader-fontsrc:var(--widget-fontsrc);
 --pop-widget-comparerange-calender-content-hover-color:var(--widget-icon-hover-background);
 --pop-widget-comparerange-calender-content-datatext-font-color:var(--widget-secondary-font-color);
 --pop-widget-comparerange-calender-content-datatext-fontsize:var(--widget-fontsize);
 --pop-widget-comparerange-calender-content-datatext-fontweight:var(--widget-fontweight);
 --pop-widget-comparerange-calender-content-datatext-fontfamily:var(--widget-fontfamily);
 --pop-widget-comparerange-calender-content-datatext-fontsrc:var(--widget-fontsrc);
 --pop-widget-dialog-vslabel-font-color:var(--widget-secondary-font-color);
 --pop-widget-dialog-vslabel-fontsize:var(--widget-fontsize);
 --pop-widget-dialog-vslabel-fontweight:var(--widget-fontweight);
 --pop-widget-dialog-vslabel-fontfamily:var(--widget-fontfamily);
 --pop-widget-dialog-vslabel-fontsrc:var(--widget-fontsrc);
 --pop-widget-dialog-footer-background:var(--widget-primary-background);
 --pop-widget-dialog-okbutton-background:var(--primary-btn-bg-normal-color);
 --pop-widget-dialog-okbutton-hovercolor:var(--primary-btn-bg-hover-color);
 --pop-widget-dialog-okbutton-font-color:var(--primary-btn-text-normal-color);
 --pop-widget-dialog-okbutton-fontsize:var(--widget-fontsize);
 --pop-widget-dialog-okbutton-fontweight:var(--widget-fontweight);
 --pop-widget-dialog-okbutton-fontfamily:var(--widget-fontfamily);
 --pop-widget-dialog-okbutton-fontsrc:var(--widget-fontsrc);
 --pop-widget-dialog-cancelbutton-background:var(--secondary-btn-bg-normal-color);
 --pop-widget-dialog-cancelbutton-hover-bg-color:var(--secondary-btn-bg-hover-color);
 --pop-widget-dialog-cancelbutton-font-color:var(--secondary-btn-text-normal-color);
 --pop-widget-dialog-cancelbutton-fontsize:var(--widget-fontsize);
 --pop-widget-dialog-cancelbutton-fontweight:var(--widget-fontweight);
 --pop-widget-dialog-cancelbutton-fontfamily:var(--widget-fontfamily);
 --pop-widget-dialog-cancelbutton-fontsrc:var(--widget-fontsrc);
 --pop-widget-container-border-radius: var(--widget-container-border-radius);
 --pop-widget-container-border-color: var(--widget-container-border-color);
}
 
 
 