:root{
 --dategroup-widget-title-font-color:var(--widget-primary-font-color);
 --dategroup-widget-title-fontsize:var(--widget-fontsize);
 --dategroup-widget-title-fontweight:var(--widget-fontweight);
 --dategroup-widget-title-fontfamily:var(--widget-fontfamily);
 --dategroup-widget-title-fontsrc:var(--widget-fontsrc);
 --dategroup-widget-subtitle-font-color:var(--widget-primary-font-color);
 --dategroup-widget-subtitle-fontsize:var(--widget-fontsize);
 --dategroup-widget-subtitle-fontweight:var(--widget-fontweight);
 --dategroup-widget-subtitle-fontfamily:var(--widget-fontfamily);
 --dategroup-widget-subtitle-fontsrc:var(--widget-fontsrc);
 --dategroup-widget-placeholder-text-color:var(--widget-secondary-font-color);
 --dategroup-widget-border-color:var(--primary-border-color);
 --dategroup-widget-box-shadow:var(--box-shadow);
 --dategroup-widget-dropdownlist-border-color:var(--primary-border-color);
 --dategroup-widget-dropdownlist-background:var(--widget-primary-background);
 --dategroup-widget-dropdownlist-font-color:var(--widget-secondary-font-color);
 --dategroup-widget-dropdownlist-fontsize:var(--widget-fontsize);
 --dategroup-widget-dropdownlist-fontweight:var(--widget-fontweight);
 --dategroup-widget-dropdownlist-fontfamily:var(--widget-fontfamily);
 --dategroup-widget-dropdownlist-fontsrc:var(--widget-fontsrc);
 --dategroup-widget-dropdownlist-hover-background:var(--widget-datavalue-hover-background);
 --dategroup-widget-dropdownlist-hover-font-color:var(--widget-secondary-font-color);
 --dategroup-widget-dropdownlist-hover-fontsize:var(--widget-fontsize);
 --dategroup-widget-dropdownlist-hover-fontweight:var(--widget-fontweight);
 --dategroup-widget-dropdownlist-hover-fontfamily:var(--widget-fontfamily);
 --dategroup-widget-dropdownlist-hover-fontsrc:var(--widget-fontsrc);
 --dategroup-widget-dropdownlist-selection-background:var(--widget-selection-background-color);
 --dategroup-widget-dropdownlist-selection-font-color:var(--widget-selection-font-color);
 --dategroup-widget-dropdownlist-selection-fontsize:var(--widget-fontsize);
 --dategroup-widget-dropdownlist-selection-fontweight:var(--widget-fontweight);
 --dategroup-widget-dropdownlist-selection-fontfamily:var(--widget-fontfamily);
 --dategroup-widget-dropdownlist-selection-fontsrc:var(--widget-fontsrc);
 --dategroup-widget-dropdownlist-downarrow-color:var(--active-icon-normal-color);
 --dategroup-widget-checkbox-tick-color:var(--checkbox-btn-tick-color);
 --dategroup-widget-checkbox-unchecked-bg:var(--checkbox-btn-unchecked-bg-color);
 --dategroup-widget-checkbox-unchecked-border:var(--checkbox-btn-unchecked-border-color);
 --dategroup-widget-checkbox-checked-bg:var(--checkbox-btn-checked-bg-color);
 --dategroup-widget-checkbox-checked-border:var(--checkbox-btn-checked-border-color);
}