:root{
--chart-widget-title-font-color:var(--widget-primary-font-color);
--chart-widget-title-fontsize:var(--widget-fontsize);
--chart-widget-title-fontweight:var(--widget-fontweight);
--chart-widget-title-fontfamily:var(--widget-fontfamily);
--chart-widget-title-fontsrc:var(--widget-fontsrc);
--chart-widget-subtitle-font-color:var(--widget-primary-font-color);
--chart-widget-subtitle-fontsize:var(--widget-fontsize);
--chart-widget-subtitle-fontweight:var(--widget-fontweight);
--chart-widget-subtitle-fontfamily:var(--widget-fontfamily);
--chart-widget-subtitle-fontsrc:var(--widget-fontsrc);
--chart-widget-axis-title-font-color:var(--widget-axis-title-font-color);
--chart-widget-axis-title-fontsize:var(--widget-fontsize);
--chart-widget-axis-title-fontweight:var(--widget-fontweight);
--chart-widget-axis-title-fontfamily:var(--widget-fontfamily);
--chart-widget-axis-title-fontsrc:var(--widget-fontsrc);
--chart-widget-axis-gridlines-color:var(--widget-axis-gridlines-color);
--chart-widget-axis-label-font-color:var(--widget-label-primary-font-color);
--chart-widget-axis-label-fontsize:var(--widget-fontsize);
--chart-widget-axis-label-fontweight:var(--widget-fontweight);
--chart-widget-axis-label-fontfamily:var(--widget-fontfamily);
--chart-widget-axis-label-fontsrc:var(--widget-fontsrc);
--chart-widget-axis-ticklines-color:var(--widget-axis-ticklines-color);
--chart-widget-datalabel-font-color:var(--widget-label-primary-font-color);
--chart-widget-datalabel-fontsize:var(--widget-fontsize);
--chart-widget-datalabel-fontweight:var(--widget-fontweight);
--chart-widget-datalabel-fontfamily:var(--widget-fontfamily);
--chart-widget-datalabel-fontsrc:var(--widget-fontsrc);
--chart-widget-legend-font-color:var(--widget-legend-font-color);
--chart-widget-legend-fontsize:var(--widget-fontsize);
--chart-widget-legend-fontweight:var(--widget-fontweight);
--chart-widget-legend-fontfamily:var(--widget-fontfamily);
--chart-widget-legend-fontsrc:var(--widget-fontsrc);
--chart-widget-legendtitle-fontsize:var(--widget-fontsize);
--chart-widget-legendtitle-fontweight:var(--widget-fontweight);
--chart-widget-legendtitle-fontfamily:var(--widget-fontfamily);
--chart-widget-marker-color: #ffffff;
--chart-widget-container-border-radius: var(--widget-container-border-radius);
--chart-widget-container-border-color: var(--widget-container-border-color);
}