:root{
--rte-widget-content-font-color:var(--widget-primary-font-color);
--rte-widget-content-fontweight:var(--widget-fontweight);
--rte-widget-content-fontfamily:var(--widget-fontfamily);
--rte-widget-content-fontsrc:var(--widget-fontsrc);
}
