:root {
  --designer-itempanel-bar-chart-icon: url('dark/images/widgets/bar.svg');
  --designer-itempanel-column-chart-icon: url('dark/images/widgets/column.svg');
  --designer-itempanel-stacked-bar-chart-icon: url('dark/images/widgets/stacked_bar.svg');
  --designer-itempanel-stacked-column-chart-icon: url('dark/images/widgets/stacked_column.svg');
  --designer-itempanel-percent-stacked-bar-icon: url('dark/images/widgets/percent_stacked_bar.svg');
  --designer-itempanel-percent-stacked-column-icon: url('dark/images/widgets/percent_stacked_column.svg');
  --designer-itempanel-rador-polar-icon: url('dark/images/widgets/radar_polar.svg');
  --designer-itempanel-map-icon: url('dark/images/widgets/map.svg');
  --designer-itempanel-bing-map-icon: url('dark/images/widgets/bing_map.svg');
  --designer-itempanel-grid-icon: url('dark/images/widgets/grid.svg');
  --designer-itempanel-pivot-grid-icon: url('dark/images/widgets/pivot_grid.svg');
  --designer-itempanel-tree-map-icon: url('dark/images/widgets/tree_map.svg');
  --designer-itempanel-heat-map-icon: url('dark/images/widgets/heat_map.svg');
  --designer-itempanel-pivot-chart-icon: url('dark/images/widgets/pivot_chart.svg');
  --designer-itempanel-kpi-card-icon: url('dark/images/widgets/kpi_card.svg');
  --designer-itempanel-number-card-icon: url('dark/images/widgets/number_card.svg');
  --designer-itempanel-radial-gauge-icon: url('dark/images/widgets/radial_gauge.svg');
  --designer-itempanel-pie-chart-icon: url('dark/images/widgets/pie.svg');
  --designer-itempanel-doughtnut-chart-icon: url('dark/images/widgets/doughtnut.svg');
  --designer-itempanel-pyramid-icon: url('dark/images/widgets/pyramid.svg');
  --designer-itempanel-funnel-icon: url('dark/images/widgets/funnel.svg');
  --designer-itempanel-scatter-widget: url('dark/images/widgets/scatterwidget.svg');
  --designer-itempanel-area-icon: url('dark/images/widgets/area.svg');
  --designer-itempanel-stacked-area-icon: url('dark/images/widgets/stacked_area.svg');
  --designer-itempanel-percent-stacked-area-icon: url('dark/images/widgets/percent_stacked_area.svg');
  --designer-itempanel-line-icon: url('dark/images/widgets/line.svg');
  --designer-itempanel-spline-icon: url('dark/images/widgets/spline.svg');
  --designer-itempanel-spline-area-icon: url('dark/images/widgets/spline_area.svg');
  --designer-itempanel-combo-chart-icon: url('dark/images/widgets/combo_chart.svg');
  --designer-itempanel-list-icon: url('dark/images/widgets/list.svg');
  --designer-itempanel-combo-box-icon: url('dark/images/widgets/combo_box.svg');
  --designer-itempanel-text-filter-icon: url('dark/images/widgets/textfilterwidget.svg');
  --designer-itempanel-range-slinder-icon: url('dark/images/widgets/range_slinder.svg');
  --designer-itempanel-date-picker-icon: url('dark/images/widgets/date_picker.svg');
  --designer-itempanel-period-over-period-icon: url('dark/images/widgets/period_over_period.svg');
  --designer-itempanel-range-navigator-icon: url('dark/images/widgets/range_navigator.svg');
  --designer-itempanel-image-icon: url('dark/images/widgets/image.svg');
  --designer-itempanel-text-icon: url('dark/images/widgets/text.svg');
  --designer-itempanel-combine-widget-icon: url('dark/images/widgets/combine_widget.svg');
  --designer-itempanel-line1-icon: url('dark/images/widgets/line1.svg');
  --designer-itempanel-tab-widget: url('dark/images/widgets/tabwidget.svg');
}
