:root {
--database-amazon-athena-background-icon:url('dark/images/datasource/amazonathena/amazonathena.png') no-repeat;
--database-amazon-athena-tile-background-icon:url('dark/images/datasource/amazonathena/amazonathena_tile.png') no-repeat;
--database-amazon-aurora-background-icon:url('dark/images/datasource/amazonaurora/amazonaurora.png') no-repeat;
--database-amazon-aurora-tile-background-icon:url('dark/images/datasource/amazonaurora/amazonaurora_tile.png') no-repeat;
--database-amazon-RDS-background-icon:url('dark/images/datasource/amazonrds/amazonrds.png') no-repeat;
--database-amazon-RDS-tile-background-icon:url('dark/images/datasource/amazonrds/amazon_rds_tile.png') no-repeat;
--database-azuresynapseanalytics-background-icon:url('dark/images/datasource/azure/azuresynapseanalytics.png') no-repeat;
--database-azuresynapseanalytics-tile-background-icon:url('dark/images/datasource/azure/azuresynapseanalytics_tile.png') no-repeat;
--database-redshift-background: url('dark/images/datasource/amazonredshift/amazonredshift.png') no-repeat;
--database-redshift-tile-background: url('dark/images/datasource/amazonredshift/amazonredshift_tile.png') no-repeat;
--database-cdata-background: url('dark/images/datasource/cdata/cdata.png') no-repeat;
--database-cdata-tile-background: url('dark/images/datasource/cdata/cdata_tile.png') no-repeat;
--database-elastic-search-background: url('dark/images/datasource/elasticsearch/elasticsearch.png') no-repeat;
--database-elastic-search-tile-background: url('dark/images/datasource/elasticsearch/elasticsearch_tile.png') no-repeat;
--database-oauth-google-bigquery-background: url('dark/images/datasource/google/bigquery.png') no-repeat;
--database-oauth-google-bigquery-tile-background: url('dark/images/datasource/google/bigquery_tile.png') no-repeat;
--database-influxdb-background: url('dark/images/datasource/influxdb/influxdb.png') no-repeat;
--database-influxdb-tile-background: url('dark/images/datasource/influxdb/influxdb_tile.png') no-repeat;
--database-mariadb-background: url('dark/images/datasource/mariadb/mariadb.png') no-repeat;
--database-mariadb-tile-background: url('dark/images/datasource/mariadb/mariadb_tile.png') no-repeat;
--database-odbc-background: url('dark/images/datasource/odbc/odbc.png') no-repeat;
--database-odbc-tile-background: url('dark/images/datasource/odbc/odbc_tile.png') no-repeat;
--database-presto-background: url('dark/images/datasource/presto/presto.png') no-repeat;
--database-presto-tile-background: url('dark/images/datasource/presto/presto_tile.png') no-repeat;
--database-singlestore-background: url('dark/images/datasource/singlestore/singlestorelogo.png') no-repeat;
--database-singlestore-tile-background: url('dark/images/datasource/singlestore/singlestore_tile.png') no-repeat;
--database-snowflake-background: url('dark/images/datasource/snowflake/snowflake.png') no-repeat;
--database-snowflake-tile-background: url('dark/images/datasource/snowflake/snowflake_tile.png') no-repeat;
--database-sparksql-background: url('dark/images/datasource/sparksql/sparksql.png') no-repeat;
--database-sparksql-tile-background: url('dark/images/datasource/sparksql/sparksql_tile.png') no-repeat;
--database-sqlite-background: url('dark/images/datasource/sqlite/sqlite.png') no-repeat;
--database-sqlite-tile-background: url('dark/images/datasource/sqlite/sqlite_tile.png') no-repeat;
--database-ssas-background: url('dark/images/datasource/ssas/ssas.png') no-repeat;
--database-ssas-tile-background: url('dark/images/datasource/ssas/ssas_tile.png') no-repeat;
--database-sql-background: url('dark/images/datasource/sql.png') no-repeat;
--database-sql-tile-background: url('dark/images/datasource/microsoftsqlserver_tile.png') no-repeat;
--database-mysql-background: url('dark/images/datasource/mysql.png') no-repeat;
--database-mysql-tile-background: url('dark/images/datasource/mysql_tile.png') no-repeat;
--database-oracle-background: url('dark/images/datasource/oracle.png') no-repeat;
--database-oracle-tile-background: url('dark/images/datasource/oracle_tile.png') no-repeat;
--database-psql-background: url('dark/images/datasource/postgresql.png') no-repeat;
--database-psql-tile-background: url('dark/images/datasource/postgresql_tile.png') no-repeat;
--database-clickhouse-background-icon:url('dark/images/datasource/clickhouse/clickhouse.png') no-repeat;
--database-clickhouse-tile-background-icon:url('dark/images/datasource/clickhouse/clickhouse_tile.png') no-repeat;	
--database-google-cloud-background-icon:url('dark/images/datasource/google/googlecloud.png') no-repeat;
--database-google-cloud-tile-background-icon:url('dark/images/datasource/google/googlecloud_tile.png') no-repeat;
--database-mongodb-background-icon:url('dark/images/datasource/mongodb/mongodb.png');
--database-mongodb-tile-background-icon:url('dark/images/datasource/mongodb/mongodb_tile.png');
--database-ravendb-background-icon:url('dark/images/datasource/ravendb/raven.png');
--database-ravendb-tile-background-icon:url('dark/images/datasource/ravendb/ravendb_tile.png');
--database-vertica-background-icon:url('dark/images/datasource/vertica/vertica.png') no-repeat;
--database-vertica-tile-background-icon:url('dark/images/datasource/vertica/vertica_tile.png') no-repeat;
--file-excel-background-icon:url('dark/images/datasource/file/excel.png');
--file-excel-tile-background-icon:url('dark/images/datasource/file/excel_tile.png');
--file-csv-background-icon:url('dark/images/datasource/file/csv.png');
--file-csv-tile-background-icon:url('dark/images/datasource/file/csv_tile.png');
--file-edi-background-icon:url('dark/images/datasource/file/edi.png');
--file-edi-tile-background-icon:url('dark/images/datasource/file/edi_tile.png');
--file-json-background-icon:url('dark/images/datasource/file/json.png');
--file-json-tile-background-icon:url('dark/images/datasource/file/json_tile.png');
--file-xml-background-icon:url('dark/images/datasource/file/xml.png');
--file-xml-tile-background-icon:url('dark/images/datasource/file/xml_tile.png');
--service-42matters-background-icon:url('dark/images/datasource/42matters/42matters.png');
--service-42matters-tile-background-icon:url('dark/images/datasource/42matters/42matters_tile.png');
--service-activecampaign-background-icon:url('dark/images/datasource/activecampaign/activecampaign.png');
--service-activecampaign-tile-background-icon:url('dark/images/datasource/activecampaign/activecampaign_tile.png');
--service-alchemer-background-icon:url('dark/images/datasource/alchemer/alchemer.png');
--service-alchemer-tile-background-icon:url('dark/images/datasource/alchemer/alchemer_tile.png');
--service-alma-background-icon:url('dark/images/datasource/alma/alma.png');
--service-alma-tile-background-icon:url('dark/images/datasource/alma/alma_tile.png');
--service-amazonmws-background-icon:url('dark/images/datasource/amazon/amazon.png');
--service-amazonmws-tile-background-icon:url('dark/images/datasource/amazon/amazon_tile.png');
--service-appannie-background-icon:url('dark/images/datasource/appannie/appannie.png');
--service-appannie-tile-background-icon:url('dark/images/datasource/appannie/appannie_tile.png');
--service-appfolio-background-icon:url('dark/images/datasource/appfolio/appfolio.png');
--service-appfolio-tile-background-icon:url('dark/images/datasource/appfolio/appfolio_tile.png');
--service-asknicely-background-icon:url('dark/images/datasource/asknicely/asknicely.png');
--service-asknicely-tile-background-icon:url('dark/images/datasource/asknicely/asknicely_tile.png');
--service-avochato-background-icon:url('dark/images/datasource/avochato/avochato.png');
--service-avochato-tile-background-icon:url('dark/images/datasource/avochato/avochato_tile.png');
--service-azure-blob-background-icon:url('dark/images/datasource/azure/azureblobstorage.png');
--service-azure-blob-tile-background-icon:url('dark/images/datasource/azure/azureblob_tile.png');
--service-azuresearch-background-icon:url('dark/images/datasource/azure/azure_search.png');
--service-azuresearch-tile-background-icon:url('dark/images/datasource/azure/azure_search_tile.png');
--service-azure-tables-background-icon:url('dark/images/datasource/azure/azuretables.png');
--service-azure-tables-tile-background-icon:url('dark/images/datasource/azure/azuretables_tile.png');
--service-bolddesk-background-icon:url('dark/images/datasource/bolddesk/bolddesk.png');
--service-bolddesk-tile-background-icon:url('dark/images/datasource/bolddesk/bolddesk_tile.png');
--service-callrail-background-icon:url('dark/images/datasource/callrail/callrail.png');
--service-callrail-tile-background-icon:url('dark/images/datasource/callrail/callrail_tile.png');
--service-campaign-monitor-background-icon:url('dark/images/datasource/campaignmonitor/campaignmonitor.png');
--service-campaign-monitor-tile-background-icon:url('dark/images/datasource/campaignmonitor/compaignmonitor_tile.png');
--service-chargebee-background-icon:url('dark/images/datasource/chargebee/chargebee.png');
--service-chargebee-tile-background-icon:url('dark/images/datasource/chargebee/chargebee_tile.png');
--service-chargify-background-icon:url('dark/images/datasource/chargify/chargify.png');
--service-chargify-tile-background-icon:url('dark/images/datasource/chargify/chargify_tile.png');
--service-chartmogul-background-icon:url('dark/images/datasource/chartmogul/chartmogul.png');
--service-chartmogul-tile-background-icon:url('dark/images/datasource/chartmogul/chartmogul_tile.png');
--service-chartbeat-background-icon:url('dark/images/datasource/chartbeat/chartbeat.png');
--service-chartbeat-tile-background-icon:url('dark/images/datasource/chartbeat/chartbeat_tile.png');
--service-clubready-background-icon:url('dark/images/datasource/clubready/clubready.png');
--service-clubready-tile-background-icon:url('dark/images/datasource/clubready/clubready_tile.png');
--service-commvault-background-icon:url('dark/images/datasource/commvault/commvault.png');
--service-commvault-tile-background-icon:url('dark/images/datasource/commvault/commvault_tile.png');
--service-copper-background-icon:url('dark/images/datasource/copper/copper.png');
--service-copper-tile-background-icon:url('dark/images/datasource/copper/copper_tile.png');
--service-flurry-background-icon:url('dark/images/datasource/flurry/flurry.png');
--service-flurry-tile-background-icon:url('dark/images/datasource/flurry/flurry_tile.png');
--service-freshdesk-background-icon:url('dark/images/datasource/freshdesk/freshdesk.png');
--service-freshdesk-tile-background-icon:url('dark/images/datasource/freshdesk/freshdesk_tile.png');
--service-freshservice-background-icon:url('dark/images/datasource/freshservice/freshservice.png');
--service-freshservice-tile-background-icon:url('dark/images/datasource/freshservice/freshservice_tile.png');
--service-freshworkscrm-background-icon:url('dark/images/datasource/freshworkscrm/freshworkscrm.png');
--service-freshworkscrm-tile-background-icon:url('dark/images/datasource/freshworkscrm/freshworkscrm_tile.png');
--service-fusebill-background-icon:url('dark/images/datasource/fusebill/fusebill.png');
--service-fusebill-tile-background-icon:url('dark/images/datasource/fusebill/fusebill_tile.png');
--service-github-background-icon:url('dark/images/datasource/github/github.png');
--service-github-tile-background-icon:url('dark/images/datasource/github/github_tile.png');
--service-gitlab-background-icon:url('dark/images/datasource/gitlab/gitlab.png');
--service-gitlab-tile-background-icon:url('dark/images/datasource/gitlab/gitlab_tile.png');
--service-gosquared-background-icon:url('dark/images/datasource/gosquared/gosquared.png');
--service-gosquared-tile-background-icon:url('dark/images/datasource/gosquared/gosquared_tile.png');
--service-gravityforms-background-icon:url('dark/images/datasource/gravityforms/gravityforms.png');
--service-gravityforms-tile-background-icon:url('dark/images/datasource/gravityforms/gravityforms_tile.png');
--service-harvest-background-icon:url('dark/images/datasource/harvest/harvest.png');
--service-harvest-tile-background-icon:url('dark/images/datasource/harvest/harvest_tile.png');
--service-helpscout-background-icon:url('dark/images/datasource/helpscout/helpscout.png');
--service-helpscout-tile-background-icon:url('dark/images/datasource/helpscout/helpscout_tile.png');
--service-hubspot-background-icon:url('dark/images/datasource/hubspot/hubspot.png');
--service-hubspot-tile-background-icon:url('dark/images/datasource/hubspot/hubspot_tile.png');
--service-insightly-background-icon:url('dark/images/datasource/insightly/insightly.png');
--service-insightly-tile-background-icon:url('dark/images/datasource/insightly/insightly_tile.png');
--service-intervals-background-icon:url('dark/images/datasource/intervals/intervals.png');
--service-intervals-tile-background-icon:url('dark/images/datasource/intervals/intervals_tile.png');
--service-jira-background-icon:url('dark/images/datasource/jira/jira.png');
--service-jira-tile-background-icon:url('dark/images/datasource/jira/jira_tile.png');
--service-keenio-background-icon:url('dark/images/datasource/keenio/keenio.png');
--service-keenio-tile-background-icon:url('dark/images/datasource/keenio/keen_tile.png');
--service-kissmetrics-background-icon:url('dark/images/datasource/kissmetrics/kissmetrics.png');
--service-kissmetrics-tile-background-icon:url('dark/images/datasource/kissmetrics/kissmetrics_tile.png');
--service-lessonly-background-icon:url('dark/images/datasource/lessonly/lessonly.png');
--service-lessonly-tile-background-icon:url('dark/images/datasource/lessonly/lessonly_tile.png');
--service-lighthouse-background-icon:url('dark/images/datasource/lighthouse/lighthouse.png');
--service-lighthouse-tile-background-icon:url('dark/images/datasource/lighthouse/lighthouse_tile.png');
--service-liveagent-background-icon:url('dark/images/datasource/liveagent/liveagent.png');
--service-liveagent-tile-background-icon:url('dark/images/datasource/liveagent/liveagent_tile.png');
--service-mailchimp-background-icon:url('dark/images/datasource/mailchimp/mailchimp.png');
--service-mailchimp-tile-background-icon:url('dark/images/datasource/mailchimp/mailchimp_tile.png');
--service-oauth-kaizala-background-icon:url('dark/images/datasource/microsoftkaizala/kaizala.png');
--service-oauth-kaizala-tile-background-icon:url('dark/images/datasource/microsoftkaizala/microsoftkaizala_tile.png');
--service-mixpanel-background-icon:url('dark/images/datasource/mixpanel/mixpanel.png');
--service-mixpanel-tile-background-icon:url('dark/images/datasource/mixpanel/mixpanel_tile.png');
--service-newrelic-background-icon:url('dark/images/datasource/newrelic/newrelic.png');
--service-newrelic-tile-background-icon:url('dark/images/datasource/newrelic/newrelic_tile.png');
--service-nicereply-background-icon:url('dark/images/datasource/nicereply/nicereply.png');
--service-nicereply-tile-background-icon:url('dark/images/datasource/nicereply/nicereply_tile.png');
--service-nutshell-background-icon:url('dark/images/datasource/nutshell/nutshell.png');
--service-nutshell-tile-background-icon:url('dark/images/datasource/nutshell/nutshell_tile.png');
--service-sparkpost-background-icon:url('dark/images/datasource/sparkpost/sparkpost.png');
--service-sparkpost-tile-background-icon:url('dark/images/datasource/sparkpost/sparkpost_tile.png');
--service-odata-background-icon:url('dark/images/datasource/odata/odata.png');
--service-odata-tile-background-icon:url('dark/images/datasource/odata/o-data_tile.png');
--service-optimizely-background-icon:url('dark/images/datasource/optimizely/optimizely.png');
--service-optimizely-tile-background-icon:url('dark/images/datasource/optimizely/optimizely_tile.png');
--service-origami-background-icon:url('dark/images/datasource/origami/origami.png');
--service-origami-tile-background-icon:url('dark/images/datasource/origami/origami_tile.png');
--service-pipedrive-background-icon:url('dark/images/datasource/pipedrive/pipedrive.png');
--service-pipedrive-tile-background-icon:url('dark/images/datasource/pipedrive/pipedrive_tile.png');
--service-pipelinedeals-background-icon:url('dark/images/datasource/pipelinedeals/pipelinedeals.png');
--service-pipelinedeals-tile-background-icon:url('dark/images/datasource/pipelinedeals/pipelinedeals_tile.png');
--service-prometheus-background-icon:url('dark/images/datasource/prometheus/prometheus.png');
--service-prometheus-tile-background-icon:url('dark/images/datasource/prometheus/prometheus_tile.png');
--service-proofhub-background-icon:url('dark/images/datasource/proofhub/proofhub.png');
--service-proofhub-tile-background-icon:url('dark/images/datasource/proofhub/proofhub_tile.png');
--service-quickbase-background-icon:url('dark/images/datasource/quickbase/quickbase.png');
--service-quickbase-tile-background-icon:url('dark/images/datasource/quickbase/quickbase_tile.png');
--service-rssfeeds-background-icon:url('dark/images/datasource/rssfeeds/rssfeeds.png');
--service-rssfeeds-tile-background-icon:url('dark/images/datasource/rssfeeds/rssfeeds_tile.png');
--service-recurly-background-icon:url('dark/images/datasource/recurly/recurly.png');
--service-recurly-tile-background-icon:url('dark/images/datasource/recurly/recurly_tile.png');
--service-seomonitor-background-icon:url('dark/images/datasource/seomonitor/seomonitor.png');
--service-seomonitor-tile-background-icon:url('dark/images/datasource/seomonitor/seomonitor_tile.png');
--service-sendgrid-background-icon:url('dark/images/datasource/sendgrid/sendgrid.png');
--service-sendgrid-tile-background-icon:url('dark/images/datasource/sendgrid/sendgrid_tile.png');
--service-sendible-background-icon:url('dark/images/datasource/sendible/sendible.png');
--service-sendible-tile-background-icon:url('dark/images/datasource/sendible/sendible_tile.png');
--service-servicenow-background-icon:url('dark/images/datasource/servicenow/servicenow.png');
--service-servicenow-tile-background-icon:url('dark/images/datasource/servicenow/servicesnow_tile.png');
--service-shopify-background-icon:url('dark/images/datasource/shopify/shopify.png');
--service-shopify-tile-background-icon:url('dark/images/datasource/shopify/shopify_tile.png');
--service-squareup-background-icon:url('dark/images/datasource/squareup/squareup.png');
--service-squareup-tile-background-icon:url('dark/images/datasource/squareup/squareup_tile.png');
--service-stripe-background-icon:url('dark/images/datasource/stripe/stripe.png');
--service-stripe-tile-background-icon:url('dark/images/datasource/stripe/stripe_tile.png');
--service-survey-monkey-background-icon:url('dark/images/datasource/surveymonkey/surveymonkey.png');
--service-survey-monkey-tile-background-icon:url('dark/images/datasource/surveymonkey/surveymonkey_tile.png');
--service-toggl-background-icon:url('dark/images/datasource/toggl/toggl.png');
--service-toggl-tile-background-icon:url('dark/images/datasource/toggl/toggl_tile.png');
--service-trello-background-icon:url('dark/images/datasource/trello/trello.png');
--service-trello-tile-background-icon:url('dark/images/datasource/trello/trello_tile.png');
--service-twilio-background-icon:url('dark/images/datasource/twilio/twilio.png');
--service-twilio-tile-background-icon:url('dark/images/datasource/twilio/twilio_tile.png');
--service-web-background-icon:url('dark/images/datasource/web.png');
--service-web-tile-background-icon:url('dark/images/datasource/web_tile.png');
--service-yelp-background-icon:url('dark/images/datasource/yelp/yelp.png');
--service-yelp-tile-background-icon:url('dark/images/datasource/yelp/yelp_tile.png');
--service-zendesksell-background-icon:url('dark/images/datasource/zendesk/zendesksell.png');
--service-zendesksell-tile-background-icon:url('dark/images/datasource/zendesk/zendesksell_tile.png');
--service-zendesksunshine-background-icon:url('dark/images/datasource/zendesksunshine/zendesksunshine.png');
--service-zendesksunshine-tile-background-icon:url('dark/images/datasource/zendesksunshine/zendesksunshine_tile.png');
--service-zendesk-background-icon:url('dark/images/datasource/zendesk/zendesk.png');
--service-zendesk-tile-background-icon:url('dark/images/datasource/zendesk/zendesk_tile.png');
--service-zuora-background-icon:url('dark/images/datasource/zuora/zuora.png');
--service-zuora-tile-background-icon:url('dark/images/datasource/zuora/zuora_tile.png');
--oauth-applicationinsights-background-icon:url('dark/images/datasource/azure/applicationinsights.png');
--oauth-applicationinsights-tile-background-icon:url('dark/images/datasource/azure/applicationinsights_tile.png');
--oauth-asana-background-icon:url('dark/images/datasource/asana/asana.png');
--oauth-asana-tile-background-icon:url('dark/images/datasource/asana/asana_tile.png');
--oauth-azure-devops-background-icon:url('dark/images/datasource/azure/azuredevops.png');
--oauth-azure-devops-tile-background-icon:url('dark/images/datasource/azure/azuredevops_tile.png');
--oauth-basecamp3-background-icon:url('dark/images/datasource/basecamp3/basecamp3.png');
--oauth-basecamp3-tile-background-icon:url('dark/images/datasource/basecamp3/basecamp3_tile.png');
--oauth-basecamp2-background-icon:url('dark/images/datasource/basecamp2/basecamp2.png');
--oauth-basecamp2-tile-background-icon:url('dark/images/datasource/basecamp2/basecamp2_tile.png');
--oauth-bitly-background-icon:url('dark/images/datasource/bitly/bitly.png');
--oauth-bitly-tile-background-icon:url('dark/images/datasource/bitly/bitly_tile.png');
--oauth-box-background-icon:url('dark/images/datasource/box/box.png');
--oauth-box-tile-background-icon:url('dark/images/datasource/box/box_tile.png');
--oauth-buffer-background-icon:url('dark/images/datasource/buffer/buffer.png');
--oauth-buffer-tile-background-icon:url('dark/images/datasource/buffer/buffer_tile.png');
--oauth-decisionlens-background-icon:url('dark/images/datasource/decisionlens/decisionlens.png');
--oauth-decisionlens-tile-background-icon:url('dark/images/datasource/decisionlens/decisionlens_tile.png');
--oauth-dropbox-background-icon:url('dark/images/datasource/dropbox/dropbox.png');
--oauth-dropbox-tile-background-icon:url('dark/images/datasource/dropbox/dropbox_tile.png');
--oauth-eventbrite-background-icon:url('dark/images/datasource/eventbrite/eventbrite.png');
--oauth-eventbrite-tile-background-icon:url('dark/images/datasource/eventbrite/eventbrite_tile.png');
--oauth-facebook-background-icon:url('dark/images/datasource/facebook/facebook.png');
--oauth-facebook-tile-background-icon:url('dark/images/datasource/facebook/facebook_tile.png');
--oauth-facebook-ads-background-icon:url('dark/images/datasource/facebook/facebookads.png');
--oauth-facebook-ads-tile-background-icon:url('dark/images/datasource/facebook/facebookads_tile.png');
--oauth-fitbit-background-icon:url('dark/images/datasource/fitbit/fitbit.png');
--oauth-fitbit-tile-background-icon:url('dark/images/datasource/fitbit/fitbit_tile.png');
--oauth-freshbooks-background-icon:url('dark/images/datasource/freshbooks/freshbooks.png');
--oauth-freshbooks-tile-background-icon:url('dark/images/datasource/freshbooks/freshbooks_tile.png');
--oauth-genesys-purecloud-background-icon:url('dark/images/datasource/genesys/genesys.png');
--oauth-genesys-purecloud-tile-background-icon:url('dark/images/datasource/genesys/genesys_tile.png');
--oauth-gmail-background-icon:url('dark/images/datasource/google/gmail.png');
--oauth-gmail-tile-background-icon:url('dark/images/datasource/google/gmail_tile.png');
--oauth-google-adsense-background-icon:url('dark/images/datasource/google/adsense.png');
--oauth-google-adsense-tile-background-icon:url('dark/images/datasource/google/googleadsense_tile.png');
--oauth-google-ads-background-icon:url('dark/images/datasource/google/ads.png');
--oauth-google-ads-tile-background-icon:url('dark/images/datasource/google/googleads_tile.png');
--oauth-google-analytics-background-icon:url('dark/images/datasource/google/analytics.png');
--oauth-google-analytics-tile-background-icon:url('dark/images/datasource/google/googleanalytics_tile.png');
--oauth-google-calender-background-icon:url('dark/images/datasource/google/googlecalender.png');
--oauth-google-calender-tile-background-icon:url('dark/images/datasource/google/googlecalender_tile.png');
--oauth-google-drive-background-icon:url('dark/images/datasource/google/drive.png');
--oauth-google-drive-tile-background-icon:url('dark/images/datasource/google/googledrive_tile.png');
--oauth-google-search-console-background-icon:url('dark/images/datasource/google/searchconsole.png');
--oauth-google-search-console-tile-background-icon:url('dark/images/datasource/google/googlesearchconsole_tile.png');
--oauth-google-sheets-background-icon:url('dark/images/datasource/google/googlesheets.png');
--oauth-google-sheets-tile-background-icon:url('dark/images/datasource/google/googlesheets_tile.png');
--oauth-infusionsoft-background-icon:url('dark/images/datasource/keap/keap.png');
--oauth-infusionsoft-tile-background-icon:url('dark/images/datasource/keap/keap_tile.png');
--oauth-instagram-background-icon:url('dark/images/datasource/instagram/instagram.png');
--oauth-instagram-tile-background-icon:url('dark/images/datasource/instagram/instagram_tile.png');
--oauth-intercom-background-icon:url('dark/images/datasource/intercom/intercom.png');
--oauth-intercom-tile-background-icon:url('dark/images/datasource/intercom/intercom_tile.png');
--oauth-linkedin-background-icon:url('dark/images/datasource/linkedin/linkedin.png');
--oauth-linkedin-tile-background-icon:url('dark/images/datasource/linkedin/linkedin_tile.png');
--oauth-markup-trace-background-icon:url('dark/images/datasource/markuptrace/markup.png');
--oauth-markup-trace-tile-background-icon:url('dark/images/datasource/markuptrace/markup_tile.png');
--oauth-microsoft-dynamics-sales-background-icon:url('dark/images/datasource/microsoftdynamicscrm/microsoftdynamicssales.png');
--oauth-microsoft-dynamics-sales-tile-background-icon:url('dark/images/datasource/microsoftdynamicscrm/microsoftdynamicscrmsales_tile.png');
--oauth-microsoft-dynamics-service-background-icon:url('dark/images/datasource/microsoftdynamicscrm/microsoftdynamicsservice.png');
--oauth-microsoft-dynamics-service-tile-background-icon:url('dark/images/datasource/microsoftdynamicscrm/microsoftdynamicscrmservice_tile.png');
--oauth-microsoft-onedrive-background-icon:url('dark/images/datasource/microsoft/onedrive.png');
--oauth-microsoft-onedrive-tile-background-icon:url('dark/images/datasource/microsoft/onedrive_tile.png');
--oauth-microsoft-outlookcalendar-background-icon:url('dark/images/datasource/microsoft/outlookcalendar.png');
--oauth-microsoft-outlookcalendar-tile-background-icon:url('dark/images/datasource/microsoft/outlookcalendar_tile.png');
--oauth-microsoft-sharepoint-background-icon:url('dark/images/datasource/microsoft/sharepoint.png');
--oauth-microsoft-sharepoint-tile-background-icon:url('dark/images/datasource/microsoft/sharepoint_tile.png');
--oauth-pinterest-background-icon:url('dark/images/datasource/pinterest/pinterest.png');
--oauth-pinterest-tile-background-icon:url('dark/images/datasource/pinterest/pinterest_tile.png');
--oauth-podio-background-icon:url('dark/images/datasource/podio/podio.png');
--oauth-podio-tile-background-icon:url('dark/images/datasource/podio/podio_tile.png');
--oauth-projectplace-background-icon:url('dark/images/datasource/projectplace/projectplace.png');
--oauth-projectplace-tile-background-icon:url('dark/images/datasource/projectplace/projectplace_tile.png');
--oauth-quickbooks-online-background-icon:url('dark/images/datasource/quickbooks/quickbooksonline.png');
--oauth-quickbooks-online-tile-background-icon:url('dark/images/datasource/quickbooks/quickbookonline_tile.png');
--oauth-quickbooks-payments-background-icon:url('dark/images/datasource/quickbooks/quickbookspayments.png');
--oauth-quickbooks-payments-tile-background-icon:url('dark/images/datasource/quickbooks/quickbookpayments_tile.png');
--oauth-salesforce-background-icon:url('dark/images/datasource/salesforce/salesforce.png');
--oauth-salesforce-tile-background-icon:url('dark/images/datasource/salesforce/salesforce_tile.png');
--oauth-salesforce-reports-background-icon:url('dark/images/datasource/salesforce/salesforcereports.png');
--oauth-salesforce-reports-tile-background-icon:url('dark/images/datasource/salesforce/salesforcereports_tile.png');
--oauth-slack-background-icon:url('dark/images/datasource/slack/slack.png');
--oauth-slack-tile-background-icon:url('dark/images/datasource/slack/slack_tile.png');
--oauth-smartsheet-background-icon:url('dark/images/datasource/smartsheet/smartsheet.png');
--oauth-smartsheet-tile-background-icon:url('dark/images/datasource/smartsheet/smartsheet_tile.png');
--oauth-smartsheert-folder-background-icon:url('dark/images/datasource/smartsheet/folder.png');
--oauth-smartsheert-workspace-background-icon:url('dark/images/datasource/smartsheet/workspace.png');
--oauth-smartsheert-report-background-icon:url('dark/images/datasource/smartsheet/report.png');
--oauth-smartsheert-sheet-background-icon:url('dark/images/datasource/smartsheet/sheet.png');
--oauth-todoist-background-icon:url('dark/images/datasource/todoist/todoist.png');
--oauth-todoist-tile-background-icon:url('dark/images/datasource/todoist/todoist_tile.png');
--oauth-twitter-background-icon:url('dark/images/datasource/twitter/twitter.png');
--oauth-twitter-tile-background-icon:url('dark/images/datasource/twitter/twitter_tile.png');
--oauth-vimeo-background-icon:url('dark/images/datasource/vimeo/vimeo.png');
--oauth-vimeo-tile-background-icon:url('dark/images/datasource/vimeo/vimeo_tile.png');
--oauth-wistia-background-icon:url('dark/images/datasource/wistia/wistia.png');
--oauth-wistia-tile-background-icon:url('dark/images/datasource/wistia/wistia_tile.png');
--oauth-wordpress-background-icon:url('dark/images/datasource/wordpress/wordpress.png');
--oauth-wordpress-tile-background-icon:url('dark/images/datasource/wordpress/wordpress_tile.png');
--oauth-xero-background-icon:url('dark/images/datasource/xero/xero.png');
--oauth-xero-tile-background-icon:url('dark/images/datasource/xero/xero_tile.png');
--oauth-xero-workflow-max-background-icon:url('dark/images/datasource/xeroworkflowmax/xeroworkflowmax.png');
--oauth-xero-workflow-max-tile-background-icon:url('dark/images/datasource/xeroworkflowmax/xeroworkflowmax_tile.png');
--oauth-youtube-background-icon:url('dark/images/datasource/google/youtube.png');
--oauth-youtube-tile-background-icon:url('dark/images/datasource/google/youtube_tile.png');
--oauth-zohocrm-background-icon:url('dark/images/datasource/zohocrm/zohocrm.png');
--oauth-zohocrm-tile-background-icon:url('dark/images/datasource/zohocrm/zohocrm_tile.png');
--oauth-zohoinvoice-background-icon:url('dark/images/datasource/zohoinvoice/zohoinvoice.png');
--oauth-zohoinvoice-tile-background-icon:url('dark/images/datasource/zohoinvoice/zohoinvoice_tile.png');
--oauth-zohobooks-background-icon:url('dark/images/datasource/zohobooks/zohobooks.png');
--oauth-zohobooks-tile-background-icon:url('dark/images/datasource/zohobooks/zohobooks_tile.png');
--common-microsoft-onedrive-folder-background-icon:url('dark/images/datasource/common/microsoftdrive_folder.png');
--common-microsoft-onedrive-xml-background-icon:url('dark/images/datasource/file/xml.png');
--common-microsoft-onedrive-excel-background-icon:url('dark/images/datasource/common/microsoft_xlsx.png');
--common-microsoft-onedrive-csv-background-icon:url('dark/images/datasource/common/microsoftdrive_csv.png');
--common-microsoft-onedrive-json-background-icon:url('dark/images/datasource/common/microsoftdrive_json.png');
}
