:root{
 --designer-data-color-palette1:#826AF9;
 --designer-data-color-palette2:#2D99FF;
 --designer-data-color-palette3:#2CD9C5;
 --designer-data-color-palette4:#FF6C40;
 --designer-data-color-palette5:#FFE700;
 --designer-data-color-palette6:#F29D38;
 --designer-data-color-palette7:#FF4085;
}