:root{
  --menu-background:var(--primary-background-color);
  --menu-font-color:var(--widget-primary-font-color);
  --menu-fontsize:var(--widget-fontsize);
  --menu-fontweight:var(--widget-fontweight);
  --menu-fontfamily:var(--widget-fontfamily);
  --menu-fontsrc:var(--widget-fontsrc);
  --menu-border:var(--primary-border-color);
  --menu-hover-font-color:var(--widget-primary-font-color);
  --menu-hover-fontsize:var(--widget-fontsize);
  --menu-hover-fontweight:var(--widget-fontweight);
  --menu-hover-fontfamily:var(--widget-fontfamily);
  --menu-hover-fontsrc:var(--widget-fontsrc);
  --menu-hover-background:var(--hover-bg-normal-color);
  --alertdialog-footer-background:var(--secondary-background-color);
  --alertdialog-content-background:var(--primary-background-color);
  --alertdialog-content-font-color:var(--widget-icon-font-color);
  --alertdialog-content-fontsize:var(--widget-fontsize);
  --alertdialog-content-fontweight:var(--widget-fontweight);
  --alertdialog-content-fontfamily:var(--widget-fontfamily);
  --alertdialog-content-fontsrc:var(--widget-fontsrc);
  --alertdialog-error-content-background:var(--primary-background-color);
  --alertdialog-error-font-color:var(--widget-primary-font-color);
  --alertdialog-error-fontsize:var(--widget-fontsize);
  --alertdialog-error-fontweight:var(--widget-fontweight);
  --alertdialog-error-fontfamily:var(--widget-fontfamily);
  --alertdialog-error-fontsrc:var(--widget-fontsrc);
   --alertdialog-header-background:var(--secondary-background-color);
  --alertdialog-header-font-color:var(--widget-primary-font-color);
  --alertdialog-header-fontsize:var(--widget-fontsize);
  --alertdialog-header-fontweight:var(--widget-fontweight);
  --alertdialog-header-fontfamily:var(--widget-fontfamily);
  --alertdialog-header-fontsrc:var(--widget-fontsrc);
  --alertdialog-copybutton-background:var(--secondary-btn-bg-normal-color);
  --alertdialog-copybutton-font-color:var(--secondary-btn-text-normal-color);
  --alertdialog-copybutton-fontsize:var(--widget-fontsize);
  --alertdialog-copybutton-fontweight:var(--widget-fontweight);
  --alertdialog-copybutton-fontfamily:var(--widget-fontfamily);
  --alertdialog-copybutton-fontsrc:var(--widget-fontsrc);
  --alertdialog-copybutton-press-background:var(--secondary-btn-bg-normal-color);
  --alertdialog-copybutton-press-font-color:var(--secondary-btn-text-normal-color);
  --alertdialog-copybutton-hover-background:var(--secondary-btn-bg-hover-color);
  --alertdialog-copybutton-hover-font-color:var(--secondary-btn-text-hover-color);
  --alertdialog-copybutton-hover-fontsize:var(--widget-fontsize);
  --alertdialog-copybutton-hover-fontweight:var(--widget-fontweight);
  --alertdialog-copybutton-hover-fontfamily:var(--widget-fontfamily);
  --alertdialog-copybutton-hover-fontsrc:var(--widget-fontsrc);
  --alertdialog-okbutton-background:var(--primary-btn-bg-normal-color);
  --alertdialog-okbutton-font-color:var(--primary-btn-text-normal-color);
  --alertdialog-okbutton-fontsize:var(--widget-fontsize);
  --alertdialog-okbutton-fontweight:var(--widget-fontweight);
  --alertdialog-okbutton-fontfamily:var(--widget-fontfamily);
  --alertdialog-okbutton-fontsrc:var(--widget-fontsrc);
  --alertdialog-okbutton-press-background:var(--primary-btn-bg-normal-color);
  --alertdialog-okbutton-press-font-color:var(--primary-btn-text-normal-color);
  --alertdialog-okbutton-hover-background:var(--primary-btn-bg-hover-color);
  --alertdialog-okbutton-hover-font-color:var(--primary-btn-text-hover-color);
  --alertdialog-okbutton-hover-fontsize:var(--widget-fontsize);
  --alertdialog-okbutton-hover-fontweight:var(--widget-fontweight);
  --alertdialog-okbutton-hover-fontfamily:var(--widget-fontfamily);
  --alertdialog-okbutton-hover-fontsrc:var(--widget-fontsrc);
 
}