:root{
--circulargauge-widget-header-title-font-color:var(--widget-primary-font-color);
--circulargauge-widget-header-title-fontsize:var(--widget-fontsize);
--circulargauge-widget-header-title-fontweight:var(--widget-fontweight);
--circulargauge-widget-header-title-fontfamily:var(--widget-fontfamily);
--circulargauge-widget-header-title-fontsrc:var(--widget-fontsrc);
--circulargauge-widget-subtitle-font-color:var(--widget-primary-font-color);
--circulargauge-widget-subtitle-fontsize:var(--widget-fontsize);
--circulargauge-widget-subtitle-fontweight:var(--widget-fontweight);
--circulargauge-widget-subtitle-fontfamily:var(--widget-fontfamily);
--circulargauge-widget-subtitle-fontsrc:var(--widget-fontsrc);
--circulargauge-widget-needle-pointer-background:#bbbcbb;
--circulargauge-widget-scale-background:#bbbcbb;
--circulargauge-widget-target-pointer-background:#9A9A9A;
--circulargauge-widget-label-font-color:var(--widget-secondary-font-color);
--circulargauge-widget-label-fontsize:var(--widget-fontsize);
--circulargauge-widget-label-fontweight:var(--widget-fontweight);
--circulargauge-widget-label-fontfamily:var(--widget-fontfamily);
--circulargauge-widget-label-fontsrc:var(--widget-fontsrc);
--circulargauge-widget-title-color:var(--widget-primary-font-color);
--circulargauge-widget-title-fontsize:var(--widget-fontsize);
--circulargauge-widget-title-fontweight:var(--widget-fontweight);
--circulargauge-widget-title-fontfamily:var(--widget-fontfamily);
--circulargauge-widget-title-fontsrc:var(--widget-fontsrc);
--circulargauge-widget-value-font-color:var(--widget-secondary-font-color);
--circulargauge-widget-value-fontsize:var(--widget-fontsize);
--circulargauge-widget-value-fontweight:var(--widget-fontweight);
--circulargauge-widget-value-fontfamily:var(--widget-fontfamily);
--circulargauge-widget-value-fontsrc:var(--widget-fontsrc);
--circulargauge-widget-differencevalue-fontsize:var(--widget-fontsize);
--circulargauge-widget-differencevalue-fontweight:var(--widget-fontweight);
--circulargauge-widget-differencevalue-fontfamily:var(--widget-fontfamily);
--circulargauge-widget-differencevalue-fontsrc:var(--widget-fontsrc);
--circulargauge-widget-differencevalue-low-color:#FF6C40;
--circulargauge-widget-differencevalue-medium-color:#FFE700;
--circulargauge-widget-differencevalue-high-color:#2CD9C5;
--circulargauge-widget-container-border-radius: var(--widget-container-border-radius);
--circulargauge-widget-container-border-color: var(--widget-container-border-color);
}