:root{
 --datepicker-widget-title-font-color:var(--widget-primary-font-color);
 --datepicker-widget-title-fontsize:var(--widget-fontsize);
 --datepicker-widget-title-fontweight:var(--widget-fontweight);
 --datepicker-widget-title-fontfamily:var(--widget-fontfamily);
 --datepicker-widget-title-fontsrc:var(--widget-fontsrc);
 --datepicker-widget-subtitle-font-color:var(--widget-primary-font-color);
 --datepicker-widget-subtitle-fontsize:var(--widget-fontsize);
 --datepicker-widget-subtitle-fontweight:var(--widget-fontweight);
 --datepicker-widget-subtitle-fontfamily:var(--widget-fontfamily);
 --datepicker-widget-subtitle-fontsrc:var(--widget-fontsrc);
 --ddatepicker-widget-placeholder-text-color:var(--widget-primary-font-color);
 --datepicker-widget-textbox-border:var(--secondary-border-color);
 --datepicker-widget-textbox-background:var(--secondary-background-color);
 --datepicker-widget-textbox-fontsize:var(--widget-fontsize);
 --datepicker-widget-textbox-fontweight:var(--widget-fontweight);
 --datepicker-widget-textbox-fontfamily:var(--widget-fontfamily);
 --datepicker-widget-textbox-fontsrc:var(--widget-fontsrc);
 --datepicker-widget-calendar-background:var(--primary-background-color);
 --datepicker-widget-calender-border-color:var(--primary-border-color);
 --datepicker-widget-weekheader-background:var(--primary-background-color);
 --datepicker-widget-weekheader-font-color:var(--widget-icon-font-color);
 --datepicker-widget-weekheader-fontsize:var(--widget-fontsize);
 --datepicker-widget-weekheader-fontweight:var(--widget-fontweight);
 --datepicker-widget-weekheader-fontfamily:var(--widget-fontfamily);
 --datepicker-widget-weekheader-fontsrc:var(--widget-fontsrc);
 --datepicker-widget-availabledates-border-color:var(--primary-border-color);
 --datepicker-widget-availabledates-background:var(--primary-background-color);
 --datepicker-widget-availabledates-font-color:var(--widget-primary-font-color);
 --datepicker-widget-availabledates-fontsize:var(--widget-fontsize);
 --datepicker-widget-availabledates-fontweight:var(--widget-fontweight);
 --datepicker-widget-availabledates-fontfamily:var(--widget-fontfamily);
 --datepicker-widget-availabledates-fontsrc:var(--widget-fontsrc);
 --datepicker-widget-availabledates-hover-background:var(--hover-bg-normal-color);
 --datepicker-widget-availabledates-hover-font-color:var(--widget-primary-font-color);
 --datepicker-widget-availabledates-hover-fontsize:var(--widget-fontsize);
 --datepicker-widget-availabledates-hover-fontweight:var(--widget-fontweight);
 --datepicker-widget-availabledates-hover-fontfamily:var(--widget-fontfamily);
 --datepicker-widget-availabledates-hover-fontsrc:var(--widget-fontsrc);
 --datepicker-widget-availabledates-selection-background:var(--widget-selection-background-color);
 --datepicker-widget-availabledates-selection-font-color:var(--widget-primary-font-color);
 --datepicker-widget-availabledates-selection-fontsize:var(--widget-fontsize);
 --datepicker-widget-availabledates-selection-fontweight:var(--widget-fontweight);
 --datepicker-widget-availabledates-selection-fontfamily:var(--widget-fontfamily);
 --datepicker-widget-availabledates-selection-fontsrc:var(--widget-fontsrc);
 --datepicker-widget-availabledates-downArrow-Color:var(--active-icon-normal-color);
 --datepicker-widget-unavailabledays-background:var(--primary-background-color);
 --datepicker-widget-unavailabledays-font-color:#97a5c5;
 --datepicker-widget-unavailabledays-fontsize:var(--widget-fontsize);
 --datepicker-widget-unavailabledays-fontweight:var(--widget-fontweight);
 --datepicker-widget-unavailabledays-fontfamily:var(--widget-fontfamily);
 --datepicker-widget-unavailabledays-fontsrc:var(--widget-fontsrc);
 --datepicker-widget-othermonthdays-background:var(--primary-background-color);
 --datepicker-widget-othermonthdays-font-color:#e1e1e1;
 --datepicker-widget-othermonthdays-fontsize:var(--widget-fontsize);
 --datepicker-widget-othermonthdays-fontweight:var(--widget-fontweight);
 --datepicker-widget-othermonthdays-fontfamily:var(--widget-fontfamily);
 --datepicker-widget-othermonthdays-fontsrc:var(--widget-fontsrc);
 --datepicker-widget-icon-fontsize:var(--widget-fontsize);
 --datepicker-widget-icon-fontweight:var(--widget-fontweight);
 --datepicker-widget-icon-hover-fontsize:var(--widget-fontsize);
 --datepicker-widget-icon-hover-fontweight:var(--widget-fontweight);
 --datepicker-widget-cancelbutton-background:var(--secondary-btn-bg-normal-color);
 --datepicker-widget-cancelbutton-font-color:var(--secondary-btn-text-normal-color);
 --datepicker-widget-cancelbutton-fontsize:var(--widget-fontsize);
 --datepicker-widget-cancelbutton-fontweight:var(--widget-fontweight);
 --datepicker-widget-cancelbutton-fontfamily:var(--widget-fontfamily);
 --datepicker-widget-cancelbutton-fontsrc:var(--widget-fontsrc);
 --datepicker-widget-cancelbutton-press-background:var(--secondary-btn-bg-normal-color);
 --datepicker-widget-cancelbutton-press-font-color:var(--secondary-btn-text-normal-color);
 --datepicker-widget-cancelbutton-hover-background:var(--secondary-btn-bg-hover-color);
 --datepicker-widget-cancelbutton-hover-font-color:var(--secondary-btn-text-hover-color);
 --datepicker-widget-cancelbutton-hover-fontsize:var(--widget-fontsize);
 --datepicker-widget-cancelbutton-hover-fontweight:var(--widget-fontweight);
 --datepicker-widget-cancelbutton-hover-fontfamily:var(--widget-fontfamily);
 --datepicker-widget-cancelbutton-hover-fontsrc:var(--widget-fontsrc);
 --datepicker-widget-okbutton-background:var(--primary-btn-bg-normal-color);
 --datepicker-widget-okbutton-font-color:var(--primary-btn-text-normal-color);
 --datepicker-widget-okbutton-fontsize:var(--widget-fontsize);
 --datepicker-widget-okbutton-fontweight:var(--widget-fontweight);
 --datepicker-widget-okbutton-fontfamily:var(--widget-fontfamily);
 --datepicker-widget-okbutton-fontsrc:var(--widget-fontsrc);
 --datepicker-widget-okbutton-press-background:var(--primary-btn-bg-normal-color);
 --datepicker-widget-okbutton-press-font-color:var(--primary-btn-text-normal-color);
 --datepicker-widget-okbutton-hover-background:var(--primary-btn-bg-hover-color);
 --datepicker-widget-okbutton-hover-font-color:var(--widget-primary-font-color);
 --datepicker-widget-okbutton-hover-fontsize:var(--widget-fontsize);
 --datepicker-widget-okbutton-hover-fontweight:var(--widget-fontweight);
 --datepicker-widget-okbutton-hover-fontfamily:var(--widget-fontfamily);
 --datepicker-widget-okbutton-hover-fontsrc:var(--widget-fontsrc);
 
 
}