:root{
--treemap-widget-title-font-color:var(--widget-primary-font-color);
--treemap-widget-title-fontsize:var(--widget-fontsize);
--treemap-widget-title-fontweight:var(--widget-fontweight);
--treemap-widget-title-fontfamily:var(--widget-fontfamily);
--treemap-widget-title-fontsrc:var(--widget-fontsrc);
--treemap-widget-subtitle-font-color:var(--widget-primary-font-color);
--treemap-widget-subtitle-fontsize:var(--widget-fontsize);
--treemap-widget-subtitle-fontweight:var(--widget-fontweight);
--treemap-widget-subtitle-fontfamily:var(--widget-fontfamily);
--treemap-widget-subtitle-fontsrc:var(--widget-fontsrc);
--treemap-widget-datalabel-font-color:#1E1E1E;
--treemap-widget-datalabel-fontsize:var(--widget-fontsize);
--treemap-widget-datalabel-fontweight:var(--widget-fontweight);
--treemap-widget-datalabel-fontfamily:var(--widget-fontfamily);
--treemap-widget-datalabel-fontsrc:var(--widget-fontsrc);
--treemap-widget-legend-fontsize:var(--widget-fontsize);
--treemap-widget-legend-fontweight:var(--widget-fontweight);
--treemap-widget-legend-fontfamily:var(--widget-fontfamily);
--treemap-widget-legend-fontsrc:var(--widget-fontsrc);
--treemap-widget-legendtitle-fontsize:var(--widget-fontsize);
--treemap-widget-legendtitle-fontweight:var(--widget-fontweight);
--treemap-widget-legendtitle-fontfamily:var(--widget-fontfamily);
--treemap-widget-legendtitle-fontsrc:var(--widget-fontsrc);
}