:root{
--radarpolar-widget-title-font-color:var(--widget-primary-font-color);
--radarpolar-widget-title-fontsize:var(--widget-fontsize);
--radarpolar-widget-title-fontweight:var(--widget-fontweight);
--radarpolar-widget-title-fontfamily:var(--widget-fontfamily);
--radarpolar-widget-title-fontsrc:var(--widget-fontsrc);
--radarpolar-widget-subtitle-font-color:var(--widget-primary-font-color);
--radarpolar-widget-subtitle-fontsize:var(--widget-fontsize);
--radarpolar-widget-subtitle-fontweight:var(--widget-fontweight);
--radarpolar-widget-subtitle-fontfamily:var(--widget-fontfamily);
--radarpolar-widget-subtitle-fontsrc:var(--widget-fontsrc);
--radarpolar-widget-axis-label-font-color:var(--widget-label-primary-font-color);
--radarpolar-widget-axis-label-fontsize:var(--widget-fontsize);
--radarpolar-widget-axis-label-fontweight:var(--widget-fontweight);
--radarpolar-widget-axis-label-fontfamily:var(--widget-fontfamily);
--radarpolar-widget-axis-label-fontsrc:var(--widget-fontsrc);
--radarpolar-widget-axis-ticklines-color:var(--widget-axis-ticklines-color);
--radarpolar-widget-axis-gridlines-color:var(--widget-axis-gridlines-color);
--radarpolar-widget-datalabel-font-color:var(--widget-label-primary-font-color);
--radarpolar-widget-datalabel-fontsize:var(--widget-fontsize);
--radarpolar-widget-datalabel-fontweight:var(--widget-fontweight);
--radarpolar-widget-datalabel-fontfamily:var(--widget-fontfamily);
--radarpolar-widget-datalabel-fontsrc:var(--widget-fontsrc);
--radarpolar-widget-legend-font-color:var(--widget-legend-font-color);
--radarpolar-widget-legend-fontsize:var(--widget-fontsize);
--radarpolar-widget-legend-fontweight:var(--widget-fontweight);
--radarpolar-widget-legend-fontfamily:var(--widget-fontfamily);
--radarpolar-widget-legend-fontsrc:var(--widget-fontsrc);
--radarpolar-widget-marker-color: var(--secondary-background-color);
--radarpolar-widget-container-border-radius: var(--widget-container-border-radius);
--radarpolar-widget-container-border-color: var(--widget-container-border-color);
}