:root{
  --widget-primary-background:var(--secondary-background-color);
  --widget-primary-font-color:#e5ebf8;
  --widget-secondary-font-color:#e2e2e2;
  --widget-fontsize:"";
  --widget-fontweight:"";
  --widget-fontfamily:var(--designer-font-family);
  --widget-fontsrc:(--designer-fontsrc);
  --widget-icon-font-color:#c6d0e8;
  --widget-icon-hover-font-color:var(--widget-icon-font-color);
  --widget-icon-hover-background:#374159;
  --widget-axis-title-font-color:var(--widget-icon-font-color);
  --widget-label-primary-font-color:var(--widget-icon-font-color);
  --widget-label-secondary-font-color:#97a5c5;
  --widget-axis-gridlines-color:#465168;
  --widget-axis-ticklines-color:var(--widget-axis-gridlines-color);
  --widget-legend-font-color:var(--widget-primary-font-color);  
  --widget-datavalue-background-color:var(--widget-primary-background);
  --widget-dataValue-font-color:var(--widget-primary-font-color);
  --widget-datavalue-hover-color:var(--widget-primary-font-color);
  --widget-datavalue-hover-background:var(--hover-bg-normal-color);
  --widget-selection-background-color:var(--active-bg-normal-color);
  --widget-selection-font-color:var(--active-text-normal-color);
}