:root{
 --pivotgrid-widget-title-font-color:var(--widget-primary-font-color);
 --pivotgrid-widget-title-fontsize:var(--widget-fontsize);
 --pivotgrid-widget-title-fontweight:var(--widget-fontweight);
 --pivotgrid-widget-title-fontfamily:var(--widget-fontfamily);
 --pivotgrid-widget-title-fontsrc:var(--widget-fontsrc);
 --pivotgrid-widget-subtitle-font-color:var(--widget-primary-font-color);
 --pivotgrid-widget-subtitle-fontsize:var(--widget-fontsize);
 --pivotgrid-widget-subtitle-fontweight:var(--widget-fontweight);
 --pivotgrid-widget-subtitle-fontfamily:var(--widget-fontfamily);
 --pivotgrid-widget-subtitle-fontsrc:var(--widget-fontsrc);
 --pivotgrid-widget-border:var(--primary-border-color);
 --pivotgrid-widget-content-background: var(--secondary-background-color);
 --pivotgrid-widget-content-font-fontcolor:var(--widget-primary-font-color);
 --pivotgrid-widget-content-font-fontsize: var(--widget-fontsize);
 --pivotgrid-widget-content-font-fontweight:var(--widget-fontweight);
 --pivotgrid-widget-content-font-fontfamily:var(--widget-fontfamily);
 --pivotgrid-widget-content-font-fontsrc:var(--widget-fontsrc);
 --pivotgrid-widget-content-hover-background: var(--hover-bg-normal-color);
 --pivotgrid-widget-content-hover-font-color:var(--widget-primary-font-color);
 --pivotgrid-widget-content-hover-font-fontsize:var(--widget-fontsize);
 --pivotgrid-widget-content-hover-font-fontweight:var(--widget-fontweight);
 --pivotgrid-widget-content-hover-font-fontfamily:var(--widget-fontfamily);
 --pivotgrid-widget-content-hover-font-fontsrc:var(--widget-fontsrc);
 --pivotgrid-widget-content-selection-background:var(--active-bg-normal-color);
 --pivotgrid-widget-content-selection-font-color:var(--widget-primary-font-color);
 --pivotgrid-widget-content-selection-font-fontsize:var(--widget-fontsize);
 --pivotgrid-widget-content-selection-font-fontweight:var(--widget-fontweight);
 --pivotgrid-widget-content-selection-font-fontfamily:var(--widget-fontfamily);
 --pivotgrid-widget-content-selection-font-fontsrc:var(--widget-fontsrc);
 --pivotgrid-widget-header-background:#282f40;
 --pivotgrid-widget-header-font-color:var(--widget-primary-font-color);
 --pivotgrid-widget-header-fontsize:var(--widget-fontsize);
 --pivotgrid-widget-header-fontweight:var(--widget-fontweight);
 --pivotgrid-widget-header-fontfamily:var(--widget-fontfamily);
 --pivotgrid-widget-header-fontsrc:var(--widget-fontsrc);
 --pivotgrid-widget-groupingbutton-background:#485166;
 --pivotgrid-widget-groupingButton-font-color:var(--widget-dataValue-font-color);
 --pivotgrid-widget-groupingButton-fontsize:var(--widget-fontsize);
 --pivotgrid-widget-groupingButton-fontweight:var(--widget-fontweight);
 --pivotgrid-widget-groupingButton-fontfamily:var(--widget-fontfamily);
 --pivotgrid-widget-groupingButton-fontsrc:var(--widget-fontsrc);
 --pivotgrid-widget-groupingButton-icon-font-color:var(--widget-icon-font-color);
 --pivotgrid-widget-groupingButton-icon-fontsize:var(--widget-fontsize);
 --pivotgrid-widget-groupingButton-icon-fontweight:var(--widget-fontweight);
 --pivotgrid-widget-groupingButton-icon-hover-background:#636e87;
 --pivotgrid-widget-groupingButton-icon-hover-font-color:var(--widget-primary-font-color);
 --pivotgrid-widget-groupingButton-icon-hover-fontsize:var(--widget-fontsize);
 --pivotgrid-widget-groupingButton-icon-hover-fontweight:var(--widget-fontweight);
 --pivotgrid-widget-groupingpanel-background:#282f40;
 --pivotgrid-widget-filterdialog-list-bordercolor:var(--primary-border-color);
 --pivotgrid-widget-filterdialog-list-background:var(--primary-background-color);
 --pivotgrid-widget-filterdialog-list-font-color:var(--widget-primary-font-color);
 --pivotgrid-widget-filterdialog-list-fontsize: var(--widget-fontsize);
 --pivotgrid-widget-filterdialog-list-fontweight:var(--widget-fontweight);
 --pivotgrid-widget-filterdialog-list-fontfamily:var(--widget-fontfamily);
 --pivotgrid-widget-filterdialog-list-fontsrc:var(--widget-fontsrc);
 --pivotgrid-widget-filterdialog-list-hover-background:var(--hover-bg-normal-color);
 --pivotgrid-widget-filterdialog-list-hover-font-color:var(--widget-primary-font-color);
 --pivotgrid-widget-filterdialog-list-hover-fontsize: var(--widget-fontsize);
 --pivotgrid-widget-filterdialog-list-hover-fontweight:var(--widget-fontweight);
 --pivotgrid-widget-filterdialog-list-hover-fontfamily:var(--widget-fontfamily);
 --pivotgrid-widget-filterdialog-list-hover-fontsrc:var(--widget-fontsrc);
 --pivotgrid-widget-filterdialog-list-selection-background:var(--widget-selection-background-color);
 --pivotgrid-widget-filterdialog-list-selection-font-color:var(--widget-selection-font-color);
 --pivotgrid-widget-filterdialog-list-selection-font-fontsize:var(--widget-fontsize);
 --pivotgrid-widget-filterdialog-list-selection-font-fontweight:var(--widget-fontweight);
 --pivotgrid-widget-filterdialog-list-selection-font-fontfamily:var(--widget-fontfamily);
 --pivotgrid-widget-filterdialog-list-selection-font-fontsrc:var(--widget-fontsrc);
 --pivotgrid-widget-filterdialog-list-downarrow-color:var(--active-icon-normal-color);
 --pivotgrid-widget-filterdialog-list-footer-background:var(--designer-header-background);
 --pivotgrid-widget-cancelbutton-background:var(--secondary-btn-bg-normal-color);
 --pivotgrid-widget-cancelbutton-font-color:var(--widget-primary-font-color);
 --pivotgrid-widget-cancelbutton-fontsize:var(--widget-fontsize);
 --pivotgrid-widget-cancelbutton-fontweight:var(--widget-fontweight);
 --pivotgrid-widget-cancelbutton-fontfamily:var(--widget-fontfamily);
 --pivotgrid-widget-cancelbutton-fontsrc:var(--widget-fontsrc);
 --pivotgrid-widget-cancelbutton-press-background:var(--secondary-btn-bg-normal-color);
 --pivotgrid-widget-cancelbutton-press-font-color:var(--secondary-btn-text-normal-color);
 --pivotgrid-widget-cancelbutton-hover-background:var(--secondary-btn-bg-hover-color);
 --pivotgrid-widget-cancelbutton-hover-font-color:var(--secondary-btn-text-hover-color);
 --pivotgrid-widget-cancelbutton-hover-fontsize:var(--widget-fontsize);
 --pivotgrid-widget-cancelbutton-hover-fontweight:var(--widget-fontweight);
 --pivotgrid-widget-cancelbutton-hover-fontfamily:var(--widget-fontfamily);
 --pivotgrid-widget-cancelbutton-hover-fontsrc:var(--widget-fontsrc);
 --pivotgrid-widget-okbutton-background:var(--primary-btn-bg-normal-color);
 --pivotgrid-widget-okbutton-font-color:var(--primary-btn-text-normal-color);
 --pivotgrid-widget-okbutton-fontsize:var(--widget-fontsize);
 --pivotgrid-widget-okbutton-fontweight:var(--widget-fontweight);
 --pivotgrid-widget-okbutton-fontfamily:var(--widget-fontfamily);
 --pivotgrid-widget-okbutton-fontsrc:var(--widget-fontsrc);
 --pivotgrid-widget-okbutton-press-background:var(--primary-btn-bg-normal-color);
 --pivotgrid-widget-okbutton-press-font-color:var(--primary-btn-text-normal-color);
 --pivotgrid-widget-okbutton-hover-background:var(--primary-btn-bg-hover-color);
 --pivotgrid-widget-okbutton-hover-font-color:var(--widget-primary-font-color);
 --pivotgrid-widget-okbutton-hover-fontsize:var(--widget-fontsize);
 --pivotgrid-widget-okbutton-hover-fontweight:var(--widget-fontweight);
 --pivotgrid-widget-okbutton-hover-fontfamily:var(--widget-fontfamily);
 --pivotgrid-widget-okbutton-hover-fontsrc:var(--widget-fontsrc);
 --pivotgrid-widget-filterdialog-header-background:var(--designer-header-background);
 --pivotgrid-widget-filterdialog-header-font-color:var(--widget-primary-font-color);
 --pivotgrid-widget-filterdialog-header-fontsize:var(--widget-fontsize);
 --pivotgrid-widget-filterdialog-header-fontweight:var(--widget-fontweight);
 --pivotgrid-widget-filterdialog-header-fontfamily:var(--widget-fontfamily);
 --pivotgrid-widget-filterdialog-header-fontsrc:var(--widget-fontsrc);
--pivotgrid-widget-container-border-radius: var(--widget-container-border-radius);
--pivotgrid-widget-container-border-color: var(--widget-container-border-color);
}