:root{
--map-widget-title-font-color:var(--widget-primary-font-color);
--map-widget-title-fontsize:var(--widget-fontsize);
--map-widget-title-fontweight:var(--widget-fontweight);
--map-widget-title-fontfamily:var(--widget-fontfamily);
--map-widget-title-fontsrc:var(--widget-fontsrc);
--map-widget-subtitle-font-color:var(--widget-primary-font-color);
--map-widget-subtitle-fontsize:var(--widget-fontsize);
--map-widget-subtitle-fontweight:var(--widget-fontweight);
--map-widget-subtitle-fontfamily:var(--widget-fontfamily);
--map-widget-subtitle-fontsrc:var(--widget-fontsrc);
--map-widget-datalabel-font-color:var(--primary-background-color);
--map-widget-datalabel-fontsize:var(--widget-fontsize);
--map-widget-datalabel-fontweight:var(--widget-fontweight);
--map-widget-datalabel-fontfamily:var(--widget-fontfamily);
--map-widget-datalabel-fontsrc:var(--widget-fontsrc);
--map-widget-legend-font-color:var(--widget-legend-font-color);
--map-widget-legend-fontsize:var(--widget-fontsize);
--map-widget-legend-fontweight:var(--widget-fontweight);
--map-widget-legend-fontfamily:var(--widget-fontfamily);
--map-widget-legend-fontsrc:var(--widget-fontsrc);
--map-widget-legendtitle-fontsize:var(--widget-fontsize);
--map-widget-legendtitle-fontweight:var(--widget-fontweight);
--map-widget-legendtitle-fontfamily:var(--widget-fontfamily);

}